@* @page
@model SalesWebMVC.Views.Home.ContactModel
@{
}
 *@
@{
    ViewData["Title"] = "Contact2";
}
<h1>@ViewData["Title"]</h1>
<h2>Your contact Page</h2>
<br />
<p>Rua Chico Mendes, 56</p>
<p>Vale da Esperança - 34002-202</p>
<p>Nova Lima - Minas Gerais</p>



<p>Use this page to detail your site's privacy policy.</p>
